<form action="mailto:admin@monsite.fr" method="post" enctype="text/plain">
<ul>
  <li><label for="name">Nom :</label>
    <input type="text" name="name" id="name">
  </li>
  <li><label for="mail">E-Mail :</label>
    <input type="email" name="mail" id="mail">
  </li>
  <li><label for="message">Message :</label>
    <textarea name="message" id="message"></textarea>
  </li>
  <li>
    <input type="submit" value="Envoyer">
  </li>
  <li>
    <input type="reset" value="Réinitialiser">
  </li>
</ul>
</form>